<div class="w-full flex items-start px-4 py-6 shadow-lg rounded-md my-5">
  <% if user.avatar.attached? %>
    <%= image_tag(user.avatar, class: "w-12 h-12 rounded-full object-cover mr-4 shadow") %>
  <% else %>
    <%= image_tag('image-2@2x.jpg', class: "w-12 h-12 rounded-full object-cover mr-4 shadow") %>
  <% end %>
  <div class="">
    <div class="flex items-center justify-between">
      <h2 class="text-lg font-semibold text-gray-900 -mt-1"><%= user.username %></h2>
      <small class="text-sm text-gray-700"><%= user.role %></small>
    </div>
    <p class="mt-3 text-gray-700 text-sm">
      Lorem ipsum, dolor sit amet conse. Saepe optio minus rem dolor sit amet!
    </p>
  </div>
</div>