<div>
  <%= simple_form_for([@chat, Message.new],
                      action: 'turbo:submit-end->messages#resetForm',
                      messages_target: 'input_form',
                      wrapper_html: { class: "form-control" },
                      class: "form-control"
                      ) do |f| %>
    <%= f.input_field :content, label: false,
                      input_html: { placeholder: 'Type...' },
                      class: "mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                      focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600
                      dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"%>

    <div class="flex justify-between grid-cols-2 space-x-2 space-y-2">
      <div>
        <%= f.submit 'Send', class: "text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300
        font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700
        dark:focus:ring-blue-800" %>
      </div>
      <div>
        <label class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300
                      font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700
                      dark:focus:ring-blue-800">
          <span class="mt-2 text-base leading-normal">Select a file</span>
          <%= f.file_field :files, class: "hidden" %>
        </label>
      </div>
    </div>
  <% end %>
</div>
