<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
   <%= report.patient.decorate.username %>
  </th>
  <td class="px-6 py-4">
    <%= report.illnesses %>
  </td>
  <td class="px-6 py-4">
    <%= report.updated_at %>
  </td>
  <td class="px-6 py-4">
    <%= report.created_at %>
  </td>
  <td class="px-6 py-4 text-right">
    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
  </td>
</tr>