<div class="mt-4">
  <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Details</h5>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-3 sm:py-4">
          <% if booking.online %>
            Online
          <% else %>
            <strong>Clinic</strong> <%= booking.doctor.clinic.city %>, <%= booking.doctor.clinic.tooltip %>
          <% end %>
        </li>
        <li class="py-3 sm:py-4">
          <strong>Time</strong> <%= booking.decorate.time %>
        </li>
      </ul>
    </div>
  </div>
</div>