<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <br>
  <%= link_to main_app.clinics_path, class: "flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300" do %>
    Clinics
  <% end %>
</div>
