<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Patient Id
      </th>
      <th scope="col" class="px-6 py-3">
        Full Name
      </th>
      <th scope="col" class="px-6 py-3">
        Clinic
      </th>
      <th scope="col" class="px-6 py-3">
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <%= render 'patients/index/row', patient: contract.patient.decorate %>
      <% end %>
    </tbody>
  </table>
</div>
